body{
    background-image: url("../images/background.jpg");
    
}
div{
    color: white;
    
}

.char_wrapper{
    max-width: 620px;
    background-color:black;
}

#log{
    background-color:black;
}

.highlight{
    border: green;
    border-style: solid;
    border-width: 5px;
}

.highlight_enemy{
    border: red;
    border-style: solid;
    border-width: 5px;
}

.name{
    font: white;
    font-weight: bold;
    text-align: center;
    
}

.char_pic{
    display: flex;
    justify-content: center;
    position: relative;
    width:100px;
    height:100px;
    margin: auto;
}
.current_health::before{
    content: "HP: "
}
.current_health{
    text-align:center;
    visibility: hidden;
}
.char_wrapper {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    
   
}

.char_wrapper .char_info {
    visibility: hidden;
    width: 105px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.char_wrapper:hover .char_info {
    visibility: visible;
    opacity: 1;
}


.enemy{
    display: none;
}